SHORTENER_DB_PATH=./data/shortener.sqlite3
# Set this to the externally reachable URL when behind a trusted reverse proxy.
SHORTENER_PUBLIC_BASE_URL=
SHORTENER_CREATE_LIMIT=60
SHORTENER_CREATE_WINDOW_SECONDS=60
SHORTENER_MAX_EXPIRY_SECONDS=31536000
